@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<style>
    body {
        background-color: #a7c4f2;
        position: center;
        margin: auto;
    }
</style>
<div class="text-center">
    <h1 class="display-4">Welcome!</h1>
    <p style="font-size:1.5em; font-family:monospace;">This application can be used to track your daily calorie intake.</p>
    <p style="font-size:1.5em;font-family:monospace;">Click on the 'CalorieCounter' button to view all the entries in the database.</p>
</div>

